.pyc

.vscode/.browse.VC.db-wal

.DS_Store

.vscode/.browse.VC.db

.vscode/.browse.VC.db-shm

.vscode/launch.json

First Try/.DS_Store

.DS_Store

.DS_Store

First Try/.DS_Store

First Try/.ipynb_checkpoints/BinaryNeuralNetwork-checkpoint.ipynb

First Try/.ipynb_checkpoints/NonDevNeuralNetwork-checkpoint.ipynb

First Try/NonDevNeuralNetwork.ipynb

First Try/BinaryNeuralNetwork.ipynb

First Try/utilities.pyc

First Try/BinaryNeuralNetwork.ipynb

First Try/NonDevNeuralNetwork.ipynb

First Try/utilities.pyc

First Try/Classifier.pyc

First Try/BinaryNeuralNetwork.ipynb

First Try/NonDevNeuralNetwork.ipynb

First Try/.DS_Store

.DS_Store

First Try/modelnondev

First Try/modelrmanddescr5epoch
*.pkl

*.pyc

Classifier_SavePoints/Basic Neural Network/Basic Neural Network.xml
*.xml
*.sql
