  html, body{
  margin: 0;
  padding: 0;
  font-size: 8px;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ffff0080;
  }
  #workflow{
  margin-top: 50px;
  }
  h1{
  text-align: center;
  margin-bottom: 50px;
  }
  #module_wrapper{
    overflow-x: hidden;
    width: 100%;
  }
  #modules{
    width: 2700px;
    position: relative;
    margin-left: calc( (100% - 900px) / 2 - 1 * 900px);
  }
  .module{
  float: left;
  width: 800px;
  height: 600px;
  border: 5px black solid;
  padding: 20px;
  border-radius: 5px;
  background: white;
  margin-right: 100px;
  opacity: .25;
  }
  .module.active{
    opacity: 1;
  }
  .module .module_header{
  border-bottom: 3px solid #808080cc;
  padding-bottom: 5px;
  margin-top: 0;
  }
  .module .left{
  width: 40%;
  float: left;
  text-align: right;
  }
  .module .right{
  width: 40%;
  float: left;
  text-align: left;
  margin-left: 20%;
  }
  .input::after {
    content: "}";
    color: black;
    font-size: 100px;
    transform: scaleY( 4 ) scaleX(2);
    display: inline-block;
    margin-left: calc(100% + 50px);
    margin-top: 100px;
    font-family: Colibri;
  }