<!DOCTYPE html>
<html>
  <head>
    <!--
    Copyright 2017
    Code by Michael Leimstädtner
    -->
    <meta charset="utf-8"/>
    <title>Classification Overview</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="icon" href="favicon.png" type="image/png"/>
    <meta Name="description" content=""/>
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/overview.css"/>
  </head>
  <body>
    <div id="wrappers">
      <div style="display:none;"  onclick="hideInfo()" class="overlay_blur"></div>
      <div style="display:none" class="overlay_wrapper" id="predictionList_wrapper"> <!-- Overlay -->
        <div class="container">
          <h2>List prediction</h2>
          <hr>
          <blockquote>Insert or upload a list of GitHub repository links in order to run our classifier against them. The output of <strong>{{topMostName}}</strong> will be shown next to the link on the right side.</blockquote>
          <div class="row">
            <div class="col-xs-6">
              <textarea placeholder="Insert one repository link per line" id="inputList"></textarea>
            </div>
            <div class="col-xs-6">
              <textarea placeholder="Classification results will be shown here" readonly id="outputList"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">
              <button v-on:click="predictList()"
              class="btn btn-primary">Start prediction</button>
            </div>
          </div>
          <!-- Fun but useless visualisation
          <div class="row">
            <div  :class="expression"
                  id="expression">
                  <span>{{expression}}</span>
            </div>
          </div>
          <div class="row text-center" style="font-style:italic">
            <span><strong>{{exprState}}</strong></span><br>
            <span>Images taken from the <a href="http://www.kasrl.org/jaffe.html" target="_blank">jaffe</a> dataset.</span>
          </div>-->
        </div>
      </div> <!-- /Overlay -->
      <div style="display:none" class="overlay_wrapper" id="stats_wrapper"> <!-- Overlay -->
        <div class="container">
          <h2>Statistics</h2>
          <hr>

            <div 
              v-show="(mode == 'test')"
              :class="'trainCount '">
              <h4><strong>Sample class distribution for set:
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{distribution}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li v-on:click="changeDistribution('Test')"><span>Test</span></li>
                    <li v-on:click="changeDistribution('Train')"><span>Train</span></li>
                  </ul>
                </div>
                </strong></h4>
              <table class="table table-bordered table-striped measure_table"> 
                <!-- Strings -->
                <colgroup> <col class="col-xs-6"> <col class="col-xs-6"></colgroup>
                <thead> <tr> <th>Class</th> <th>#{{distribution}} samples</th> </tr> </thead>
                <tbody> 
                  <tr v-for="x in distributionArray"> <td scope="row">{{x.class}}</td> <td><code>{{x.count}}</code></td></tr>
                </tbody>
              </table>
            </div>
          <hr>

          <h4><strong>View insights for table: 
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedTable}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li v-for="t in tableList" v-on:click="selectTable(t)"><span>{{t}}</span></li>
              </ul>
            </div></strong></h4>
          <h5 style="font-style: italic;">Note: Samples from `unlabeled` are most representative for average samples on GitHub</h5>
          <table class="table table-bordered table-striped measure_table"> 
            <colgroup> <col class="col-xs-4"> <col class="col-xs-2"><col class="col-xs-2"><col class="col-xs-2"><col class="col-xs-2"> </colgroup>
            <thead> <tr> <th>Numerical Attribute</th> <th>Avg</th> <th>Min</th> <th>Max</th> <th>Sum</th> </tr> </thead>
            <tbody> 
              <tr v-for="(val, m) in formatStats(numStats)"> <td scope="row"> <code>{{m}}</code> </td> <td><b>{{Math.round(parseFloat(val['AVG'])*100)/100}}</b></td> <td>{{val['MIN']}}</td> <td>{{val['MAX']}}</td> <td>{{val['SUM']}}</td> </tr>
            </tbody>
          </table>
          <table class="table table-bordered table-striped measure_table"> 
            <!-- Strings -->
            <colgroup> <col class="col-xs-6"> <col class="col-xs-6"></colgroup>
            <thead> <tr> <th>String Attribute</th> <th>Avg length</th> </tr> </thead>
            <tbody> 
              <tr v-for="(val, m) in formatStats(strStats)"> <td scope="row"> <code>{{m.substr(12, m.length - 13)}}</code> </td> <td><b>{{Math.round(parseFloat(val['AVG'])*100)/100}}</b></td></tr>
            </tbody>
          </table>
        </div>
      </div> <!-- /Overlay -->
      <div style="display:none;" class="overlay_wrapper" id="details_wrapper"> <!-- Overlay -->
        <div class="container">
          <h2>Classifier Module</h2>
          <hr>
          <div class="attributes">
            <div class="row attribute">
              <div class="col-xs-3">Name</div>
              <div class="col-xs-9">{{currentName}}</div>
            </div>
            <div class="row attribute">
              <div class="col-xs-3">Description</div>
              <div class="col-xs-9">{{current.description}}</div>
            </div>
            <div class="row attribute">
              <div class="col-xs-3">{{originalMeasureName(getMeasureName())}}</div>
              <div class="col-xs-9">{{formatMeasure(current.confusionMatrix.measures[getMeasureName()])}}</div>
            </div>
            <div class="row attribute">
              <div class="col-xs-3">Currently enabled</div>
              <div class="col-xs-9">{{current.active ? 'Yes' : 'No'}}</div>
            </div>
          </div>
          <h3>Actions</h3>
          <hr>
          <span class="action btn btn-default" v-on:click="retrain(currentName, false)">{{retrainstate}}</span>
          <span disabled class="action btn btn-default" v-on:click="retrain_semi()">{{semiretrainstate}}</span>
          <span class="action btn btn-default" v-on:click="save(currentName)">{{savestate}}</span>
          <div class="version_wrapper">
            <div class="input-group-btn select">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>{{formatFileName(selectedPoint)}}</b> <span class="caret"></span></button>
                  <ul class="dropdown-menu" style="margin: 0px auto;">
                    <li v-for="(sp, fileName) in savePoints"><span v-on:click="setSavePoint(fileName)">{{formatFileName(fileName)}}</span></li>
                  </ul>
            </div>
            <span class="action btn btn-default" v-on:click="load()">{{loadstate}}</span>
          </div>
          <h3>Performance</h3>
          <div class="graph">
            <h4 id="version_chart_header" style="display:none;"><strong>Overall precision per version</strong></h4>
            <div id="version_precision_chart"></div>
          </div>
          <div class="graph">
            <h4><strong>Confusion matrix</strong></h4>
            <table id="confusion_matrix" class="table">
              <tbody>
                <tr>
                  <th>▼ Class. \ Reference ► </th>
                  <th v-for="(c, i) in current.confusionMatrix.order">{{c}}</th>
                  <th>Total</th>
                  <th>Precision</th>
                </tr>
                <tr v-for="(r, i) in current.confusionMatrix.matrix"
                    :class="(i >= current.confusionMatrix.order.length ? 'total' : '') ">
                  <td>
                      {{(i <  current.confusionMatrix.order.length ? current.confusionMatrix.order[i] : (current.confusionMatrix.order.length == i ? 'Total' : 'Recall'))}}</td>

                  <td v-for="(r2, i2) in current.confusionMatrix.matrix[i]" 
                      :class="(i == i2 ? 'cell_own' : (i < i2 ? 'cell_classifier': 'cell_reference'))">
                      {{Math.round(current.confusionMatrix.matrix[i][i2] * 100) / 100}}</td>

                </tr>
              </tbody>
            </table>
            <h4><strong>Measure table</strong></h4>
            <table class="table table-bordered table-striped measure_table"> 
              <colgroup> <col class="col-xs-6"> <col class="col-xs-6"> </colgroup>
              <thead> <tr> <th>Measure</th> <th>Result</th> </tr> </thead>
              <tbody> 
                <tr v-for="val in orderMeasures(current.confusionMatrix.measures)"> <td scope="row"> <code class="defaultCursor" data-toggle="tooltip" data-placement="top" :data-original-title="getMeasureDescription(val[0])">{{originalMeasureName(val[0])}}</code> </td> <td>{{Math.round(val[1] * 10000)/100}} %</td> </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- /Overlay -->
       <div style="display:none" class="overlay_wrapper" id="docs_wrapper"> <!-- Overlay -->
        <div class="container">
          <h2>Documentation</h2>
          <hr>
          <div 
            :class="'trainCount '">
            <h4>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{selectedDocumentation}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li v-for="d in documentations" v-on:click="changeDocumentation(d)"><span>{{d}}</span></li>
                </ul>
              </div></h4>
          </div>
          <p id="md" v-html="documentationContent"></p>
        </div>
      </div> <!-- /Overlay -->
       <div style="display:none" class="overlay_wrapper" id="team_wrapper"> <!-- Overlay -->
        <div class="container">
          <h2>The team</h2>
          <hr>
          <div class="row">
            <div v-on:click="showTeam('stefan')"
            :class="'col-xs-2 portrait ' + (activeMember == 'stefan' ? 'selected' : '')" style="background-image: url('images/stefan.jpg')"></div>
            <div v-on:click="showTeam('michael')"
            :class="'col-xs-2 portrait ' + (activeMember == 'michael' ? 'selected' : '')" style="background-image: url('images/michael.jpg')"></div>
            <div v-on:click="showTeam('martin')"
            :class="'col-xs-2 portrait ' + (activeMember == 'martin' ? 'selected' : '')" style="background-image: url('images/martin.jpg')"></div>
            <div v-on:click="showTeam('andreas')"
            :class="'col-xs-2 portrait ' + (activeMember == 'andreas' ? 'selected' : '')" style="background-image: url('images/andreas.jpg')"></div>
          </div>
          <hr>
          <h2>{{name}}</h2>
          <div class="row">
            <div class="col-xs-4">Degree programme</div>
            <div class="col-xs-8">{{degree}}</div>
          </div>
          <div class="row">
            <div class="col-xs-4">Term</div>
            <div class="col-xs-8">{{term}}</div>
          </div>
          <!--<div class="row">
            <div class="col-xs-4">Expertise</div>
            <div class="col-xs-8">{{expertise}}</div>
          </div>-->
        </div>
      </div> <!-- /Overlay -->
    </div> <!-- /Wrappers -->
    <div id="page" class="container-fluid" style="display:none;">
      <div id="header">
        <div class="container">
          <div class="col-xs-4" style="height:156px;">
            <h1>Classification Overview<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Show documentation" v-on:click="showDocumentationWrapper()"></span></h1>
            <span class="note">Note: Altough we list more than one classification module, only the top listed preordered module should be considered as our submission.</span>
            <div
                v-show="(mode == 'stream' || mode == 'pool')" 
                :class="'control_buttons '"><!--control-subgroup-->
                <span :class="(action == 'loop' ? 'active ' : '') + 'glyphicon glyphicon-play'" v-on:click="loop('endless')" data-toggle="tooltip" data-placement="top" title="Classify random samples until paused"></span>
                <span :class="(action == 'halt' ? 'active ' : '') + 'glyphicon glyphicon-pause'" v-on:click="halt()" data-toggle="tooltip" data-placement="top" title="Stop classifying"></span>
                <span class="glyphicon glyphicon-step-forward" v-on:click="singleStep()" data-toggle="tooltip" data-placement="top" title="Classify a single random sample">
                </span>
            </div><!-- /control-subgroup -->

          </div>
          <div class="col-xs-8">
            <div class="col-xs-6">
              <div class="input-group">
                <span class="input-group-addon">
                  <input id="mode_1" v-on:change="switchMode()" value="stream" v-model="mode" name="mode" type="radio">
                </span>
                <label for="mode_1" class="form-control">Stream Based AL</label>
              </div><!-- /input-group -->
              <div class="input-group">
                <span class="input-group-addon">
                  <input id="mode_2" v-on:change="switchMode()" value="pool" v-model="mode" name="mode" type="radio">
                </span>
                <label for="mode_2" class="form-control">Pool Based AL</label>
              </div><!-- /input-group -->
              <div class="input-group">
                <span class="input-group-addon">
                  <input id="mode_3" v-on:change="switchMode()" value="test" v-model="mode" name="mode" type="radio">
                </span>
                <label for="mode_3" class="form-control">Test all Classifiers</label>
              </div><!-- /input-group -->
              <div class="input-group">
                <span class="input-group-addon">
                  <input id="mode_4" v-on:change="switchMode()" value="single" v-model="mode" name="mode" type="radio">
                </span>
                <label for="mode_4" class="form-control">Handle user input</label>
              </div>   <!-- /input-group -->  
            </div>
            <div id="right" :class="'col-xs-6 '"><!-- right side options -->

              <!-- Train instantly would take too long
                <div 
                v-show="(mode != 'stream' && mode != 'pool')"
                :class="'input-group '">
                <span class="input-group-addon">
                  <input id="instant_train" v-model="trainInstantly" name="instant_train" type="checkbox">
                </span>
                <label for="instant_train" class="form-control">Classify instantly and train incrementaly</label>
              </div>-->

              <!-- Active Learning controls -->
              <div
                  v-show="(mode == 'stream')"
                  :class="'input-group '"
                  data-toggle="tooltip" data-placement="bottom" data-original-title="Semi-supervised learning could be included at a future date. Right now the precision is too low to make use of semi-supervised learning.">
                <span class="input-group-addon">
                  <input disabled="disabled" id="semi_supervised" v-model="isSemiSupervised" name="semi_supervised" type="checkbox">
                </span>
                <label for="semi_supervised" class="form-control">Semi-Supervised</label>
              </div>   <!-- /input-group -->  

              <div 
                  v-show="(mode == 'stream' || mode == 'pool')"
                  :class="'input-group '">
                <label id="formula" class="form-control">{{formula}}</label>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Uncertainty formula <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li v-for="f in formulas"><span v-on:click="setFormula(f)">{{f}}</span></li>
                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->

              <!-- Handle user input controls -->
              <div 
                  v-show="mode == 'single'"
                  :class="'input-group '"
                  data-toggle="tooltip" data-placement="bottom" data-original-title="If checked, the output will always consist of a label prediction.">
                <span class="input-group-addon">
                  <input id="pH1" name="predictionHandling" v-model="predictionHandling" value="predict" type="radio">
                </span>
                <label for="pH1" class="form-control">Always show prediction</label>
              </div><!-- /input-group -->

              <div 
                  v-show="mode == 'single'"
                  :class="'input-group '"
                  data-toggle="tooltip" data-placement="bottom" data-original-title="If checked, the user will be asked to classify the sample manually">
                <span class="input-group-addon">
                  <input id="pH2" name="predictionHandling" v-model="predictionHandling" value="feedback" type="radio">
                </span>
                <label for="pH2" class="form-control">Always require user feedback</label>
              </div><!-- /input-group -->

              <input v-on:click="predictSingle('')"
                    v-show="(mode == 'single')"
                    :class="'btn btn-primary control '" style="width: 49.55%;"
                    title="Predict single samples" value="Predict single" type="button">
              <input v-on:click="showListPrediction()"
                    v-show="(mode == 'single')"
                    :class="'btn btn-primary control '" style="width: 49.55%;"
                    title="Predict a list of samples" value="Predict list" type="button">

              <!-- Test controls -->
              <input v-on:click="retrainAll()" :value="retrainAllState" 
                    v-show="(mode == 'test')"
                    :class="'btn btn-primary '" style="width: 49.55%;" type="button">
              <input v-on:click="saveAll()" :value="saveAllState"
                    v-show="(mode == 'test')"
                    :class="'btn btn-primary '" style="width: 49.55%;" type="button">

              <div 
                  v-show="mode == 'test'" :class="'input-group '"
                  data-toggle="tooltip" data-placement="bottom" data-original-title="The extended test set contains additional samples classified by ourself while the standard set does not include OTHER samples.">
                <span class="input-group-addon">
                  <input v-on:change="changeExtendedSet()" id="useExtendedTestSet" v-model="useExtendedTestSet" name="useExtendedTestSet" type="checkbox">
                </span>
                <label for="useExtendedTestSet" class="form-control">Use extended test set</label>
              </div><!-- /input-group -->

              <input v-on:click="startTest()" 
                    v-show="(mode == 'test')"
                    :class="'btn btn-primary control '" 
                    title="Test all Classifiers" value="Test classifiers" type="button">
              <input v-on:click="showStats()" value="Statistics" 
                    v-show="(mode == 'test')"
                    :class="'btn btn-primary '" type="button">
            </div><!-- /right side options -->
          </div><!-- /controls -->
        </div><!-- /container -->
      </div><!-- /header -->
      <div class="container">
        <div id="titles" class="row"><!-- titles -->
          <div class="alert alert-warning" id="calls_warning" v-html="flag" v-show="flag != ''"></div>
          <blockquote class="lead" v-html="getQuote()"></blockquote>
          <div class="col-xs-2"><h3>Input</h3></div>
          <div class="col-xs-7">
            <div class="col-xs-4"><h3>Classifiers</h3></div>
            <div class="col-xs-7 col-xs-offset-1"><h3>{{(mode != 'test' ? 'Classification results' : '    Precision per class')}}</h3></div>
          </div>
          <div class="col-xs-3"><h3>Output</h3></div>
        </div><!-- /titles -->

        <div class="row main"><!-- main -->
          <div id="input" class="col-xs-2"><!-- input -->
            <h4 
                class="subtitle"
                v-show="state != 'showResult' && state != 'empty'"
            >{{state}}</h4>
            <div 
                v-show="(mode != 'test' && state == 'showResult')"
                :class="'repoDetails '">
              <h4 class="subtitle"><small><a target="_blank" :href="'https://github.com/' + repo.author">{{repo.author}}</a> / </small><a target="_blank" :href="'https://github.com/' + repo.author + '/' + repo.repoName">{{repo.repoName}}</a></h4>
              <p>{{shortDesc}}</p>
              <table class="table table-bordered table-striped measure_table"> 
                <!-- Strings -->
                <colgroup> <col class="col-xs-6"> <col class="col-xs-6"></colgroup>
                <thead> <tr> <th>Feature</th> <th>Value</th> </tr> </thead>
                <tbody> 
                  <tr> <td scope="row">#Folders</td> <td><code>{{repo.folder_count}}</code></td></tr>
                  <tr> <td scope="row">#Files</td> <td><code>{{repo.file_count}}</code></td></tr>
                  <tr> <td scope="row">#Commits</td> <td><code>{{repo.commit_count}}</code></td></tr>
                  <tr> <td scope="row">Language</td> <td><code>{{repo.language}}</code></td></tr>
                </tbody>
              </table>
            </div>
            <div 
              v-show="(mode == 'test' && (state == 'showResult' || state == 'empty'))"
              :class="'trainCount '">
              <h4 class="subtitle">
                Test sample distribution</h4>
              <table class="table table-bordered table-striped measure_table"> 
                <!-- Strings -->
                <colgroup> <col class="col-xs-6"> <col class="col-xs-6"></colgroup>
                <thead> <tr> <th>Class</th> <th>#Test samples</th> </tr> </thead>
                <tbody> 
                  <tr v-for="x in TestDistribution"> <td scope="row">{{x.class}}</td> <td><code>{{x.count}}</code></td></tr>
                </tbody>
              </table>
            </div>
          </div><!-- /input -->

          <div class="col-xs-7">
            <div id="classifier_wrapper">
              <h4 class="subtitle"> Order classifiers by 
                 <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{originalMeasureName(selectedMeasure)}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li v-for="measure in measures" v-on:click="changeMeasure(measure)"><span data-toggle="tooltip" data-placement="top" :data-original-title="getMeasureDescription(measure)">{{originalMeasureName(measure)}}</span></li>
                  </ul>
                </div>
              </h4>
              <div id="classifiers">
                <div v-for="c in orderedClassifiers" :class="'classifier_row' + (c.active ? '' : ' inactive') ">
                  <div  :class="'classifier ' + (isAsking(c.name) ? 'asking' : '')"
                        data-toggle="tooltip" data-placement="bottom" :data-original-title="(isAsking(c.name) ? 'This module selected the sample because of a high uncertainty.' : '')">
                    <span class="name">{{c.name}}</span>
                    <div class="wrapper">
                      <span data-toggle="tooltip" data-placement="top" :data-original-title="'Current ' + originalMeasureName(getMeasureName())" class="stats">{{getMeasure(c)}}%<!-- <span title="Precision of previous version" class="old">/ 79%</span>--></span>
                      <span data-toggle="tooltip" data-placement="top" title="Show classifier details" v-on:click="showInfo(c.name)" class="glyphicon glyphicon-info-sign"></span>
                      <span data-toggle="tooltip" data-placement="top" title="Enable classifier" v-on:click="switchState(c.name)" class="glyphicon glyphicon-ban-circle"></span>
                      <span data-toggle="tooltip" data-placement="top" title="Disable classifier" v-on:click="switchState(c.name)" class="glyphicon glyphicon-ok-circle"></span>
                    </div>
                  </div>
                  <div class="arrow">=&gt;</div>
                  <div
                      v-show="(mode == 'test')"  
                      :class="'result_vector'">
                      <div v-for="(r, i) in c.precision" :class="'v ' + (getMax(c.name)  == r.val ? 'max' : '')">
                        <span>{{r.class}}</span><span>{{Math.round(r.val * 100) / 100}}</span>
                      </div>
                  </div>
                  <div
                      v-show="(mode != 'test')" 
                      :class="'result_vector ' + (typeof(c.unsure) != 'undefined' && mode != 'single' ? (c.unsure ? 'uncertain ' : 'certain ') : ' ')">
                      <div v-for="(r, i) in c.probability" :class="'v ' + (getMax(c.name)  == r.val ? 'max' : '')">
                        <span>{{r.class}}</span><span>{{Math.round(r.val * 100) / 100}}</span>
                      </div>
                  </div>
                  <div data-toggle="tooltip" data-placement="top" title="Classifier uncertainty" 
                        v-show="(c.uncertainty > 0)"
                       :class="'uncertainty ' + (typeof(c.unsure) != 'undefined' ? (c.unsure ? 'uncertain ' : 'certain ') : ' ')">
                    {{Math.round(c.uncertainty * 100) / 100}}
                  </div>
                </div>
              </div><!-- /classifiers -->
            </div>
          </div>
          <div class="col-xs-3" id="output"><!-- output -->
             <div v-show="mode == 'test'">
               <h4 class="subtitle">Top-most listed classifier performance</h4>
              <p class="outputText">Final classifications are being made by <strong>{{topMostName}}</strong>. Its measures are listed below</p>
              <table class="table table-bordered table-striped measure_table"> 
                <colgroup> <col class="col-xs-8"> <col class="col-xs-4"> </colgroup>
                <thead> <tr> <th>Measure</th> <th>Result</th> </tr> </thead>
                <tbody> 
                  <tr v-for="val in orderMeasures(outputMeasures)"> <td scope="row"> <code class="defaultCursor" data-toggle="tooltip" data-placement="top" :data-original-title="getMeasureDescription(val[0])">{{originalMeasureName(val[0])}}</code> </td> <td>{{formatMeasure(val[1])}}</td> </tr>
                </tbody>
              </table>
              <hr>
              <h4 class="text-center">Best precision of each classifiers</h4>
               
               <table class="outputDistr table table-bordered table-striped measure_table">
                <colgroup><col class="col-xs-2"> <col class="col-xs-10"></colgroup>
                <thead><tr><th>Class</th> <th>#Best scores</th></tr></thead>
                <tbody>
                  <tr v-for="(x, i) in precisionDistribution"><td scope="row">{{x.name}}</td> <td><div class="bar" :style="{width: x.percentage + '%'}">{{x.count}}</div></td></tr>
                </tbody>
              </table>
            </div>
            <div v-show="(mode != 'test' && state == 'showResult')">
              <h4 class="subtitle">Predicted class</h4>
              <table class="outputDistr table table-bordered table-striped measure_table">
                <colgroup><col class="col-xs-2"> <col class="col-xs-10"></colgroup>
                <thead><tr><th>Class</th> <th>#Predictions</th></tr></thead>
                <tbody>
                  <tr v-for="(x, i) in predictionDistribution"><td scope="row">{{x.name}}</td> <td><div class="bar" :style="{width: x.percentage + '%'}">{{x.count}}</div></td></tr>
                </tbody>
              </table>
            </div>
            <p 
                v-show="(mode != 'test' && state == 'showResult')"
                class="outputText"
                >The top-most listed classifier says it's <strong>{{getOutputClass()}}</strong>. 
                <span
                  v-show="(state == 'showResult') && ((mode != 'test' && mode != 'single' && classifiersUnsure) || (mode == 'single' && predictionHandling == 'feedback'))">
                  Because one or more module is uncertain about its output, you can classify the sample manually.</span>
            </p>
            <h2 v-on:click="manualClassification()"
                  v-show="(state == 'showResult') && ((mode != 'test' && mode != 'single' && classifiersUnsure) || (mode == 'single' && predictionHandling == 'feedback'))"
                :class="(manualClass == '?' ? 'uncertain' : '')" 
                :style="{top: 'calc( 35px * (-1 + '+getClassifierAmount()+') * 75px)'}"
                :title="(manualClass == '?' ? 'Click to manually classify this sample' : 'Classification result')">{{( manualClass )}}</h2>
            <!--This would display an overlapped radar chart of classifier accuracies
                <div v-show="(mode == 'test')"
                 :style="{top: 'calc( -60px + (-1 + '+getClassifierAmount()+') * 75px)'}"
                 id="testOuputChart"></div>-->
          </div><!-- /output -->

        </div><!-- /main -->
      </div><!-- /container -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-4"><h4>Submission for the <a href="http://informaticup.gi.de/" target="_blank">InformatiCup 2017</a></h4></div>
            <div class="col-xs-2">
              <h4 class="member" v-on:click="showTeam('stefan')">Team Augsburg</h4>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-6 member" v-on:click="showTeam('andreas')">Andreas Grafberger</div>
              <div class="col-xs-6 member" v-on:click="showTeam('martin')">Martin Keßler</div>
              <div class="col-xs-6 member" v-on:click="showTeam('michael')">Michael Leimstädtner</div>
              <div class="col-xs-6 member" v-on:click="showTeam('stefan')">Stefan Grafberger</div>
            </div>
          </div>
        </div>
      </footer>
    </div><!-- /container-fluid -->
    <script type="text/javascript" src="scripts/lodash.min.js"></script>
    <script type="text/javascript" src="scripts/showdown.min.js"></script>
    <script type="text/javascript" src="scripts/vue.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/d3.v3.min.js"></script>
    <script type="text/javascript" src="scripts/radarChart.js"></script>
    <script type="text/javascript" src="scripts/frontend.js"></script>
  </body>
</html>