<!DOCTYPE html>
<html>
  <head>
    <!--
    Copyright 2016
    Code by Michael Leimstädtner
    -->
    <meta charset="utf-8"/>
    <title>Classification Overview</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="icon" href="favicon.png" type="image/png"/>
    <meta Name="description" content=""/>
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/overview.css"/>
  </head>
  <body>
    <div style="display:none;"  onclick="hideInfo()" class="overlay_blur"></div>
    <div style="display:none;" id="overlay_wrapper"> <!-- Overlay -->
      <div class="container classifier_details">
        <h2>Classifier Module</h2>
        <hr>
        <div class="attributes">
          <div class="row attribute">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9">{{currentName}}</div>
          </div>
          <div class="row attribute">
            <div class="col-xs-3">Description</div>
            <div class="col-xs-9">{{current.description}}</div>
          </div>
          <div class="row attribute">
            <div class="col-xs-3">Yield</div>
            <div class="col-xs-9">{{parseInt(current.yield * 100)}}%</div>
          </div>
          <div class="row attribute">
            <div class="col-xs-3">Currently enabled</div>
            <div class="col-xs-9">{{current.active ? 'Yes' : 'No'}}</div>
          </div>
        </div>
        <h3>Actions</h3>
        <hr>
        <span class="action btn btn-default" v-on:click="retrain(currentName, false)">Retrain from scratch</span>
        <span class="action btn btn-default" v-on:click="retrain_semi()">Retrain with semi-supervised data</span>
        <span class="action btn btn-default" v-on:click="save(currentName)">Save current image</span>
        <div class="version_wrapper">
          <div class="input-group-btn select">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>{{selectedPoint == '' ? 'Version' : selectedPoint}}</b> <span class="caret"></span></button>
                <ul class="dropdown-menu" style="margin: 0px auto;">
                  <li v-for="(sp, fileName) in savePoints"><a v-on:click="setSavePoint(fileName)" href="#">{{fileName}} <b>({{parseInt(sp.yield * 100)+'%'}}</b>)</a></li>
                </ul>
          </div>
          <span class="action btn btn-default" v-on:click="load()">Load version</span>
        </div>
        <h3>Performance Graphs</h3>
        <!--
        <div class="graph">
        <hr>
          <h4><strong>Per class accuracy</strong></h4>
          <div id="class_accuarcy_chart"></div>
        </div>-->
        <div class="graph">
          <h4><strong>Overall accuracy per version</strong></h4>
          <div id="version_accuarcy_chart"></div>
          <!--<img src="http://www.visualcinnamon.com/wp-content/uploads/2015/09/D3-radar-chart-New-version-Hover.png">-->
        </div>
        <div class="graph">
          <h4><strong>Confusion matrix</strong></h4>
          <table id="confusion_matrix" class="table">
            <tbody><tr>
              <th>▼ Class. \ Reference ► </th>
              <th v-for="(r, i) in current.accuracy">{{r.class}}</th>
              <th>Total</th>
              <th>C.A. (%)</th>
            </tr>
            <tr v-for="(r, i) in current.accuracy">
              <td>{{r.class}}</td>
              <td v-for="(r2, i2) in current.accuracy" :class="(i == i2 ? 'cell_own' : (i < i2 ? 'cell_classifier': 'cell_reference'))">{{parseInt(Math.random() * 100)}}</td>
              <td class="bold">{{parseInt(Math.random() * 700)}}</td>
              <td class="bold">{{parseInt(Math.random() * 1000)/10}}</td>
            </tr>
            <tr class="total">
              <td>Total</td>
              <td class="bold" v-for="(r, i) in current.accuracy">{{parseInt(Math.random() * 100)}}</td>
              <td class="result_abs">{{parseInt(Math.random() * 700)}}</td>
              <td></td>
            </tr>
            <tr class="total">
              <td>P.A. (%)</td>
              <td class="bold" v-for="(r, i) in current.accuracy">{{parseInt(Math.random() * 1000)/10}}</td>
              <td></td>
              <td class="result">{{parseInt(Math.random() * 1000)/10}}</td>
            </tr>
          </tbody></table>

          <!--<img src="http://www.geoinformation.net/lernmodule/lm06/Kapitel5DigitaleBildverarbeitung/Kapitel5_6_Klassifikation/bilder/konfusionsmatrix.jpg">-->
          <img src="http://www.geoinformation.net/lernmodule/lm06/Kapitel5DigitaleBildverarbeitung/Kapitel5_6_Klassifikation/bilder/konfusionsmatrix_legende.jpg">
        </div>
      </div>
    </div> <!-- /Overlay -->
    <div id="page" class="container-fluid" style="display:none;">
      <div id="header">
        <div class="container">
          <div class="col-xs-4">
            <h1>Classification Overview</h1>

              <div :class="'control_buttons ' + ((mode == 'stream' || mode == 'pool') ? '' : 'hidden')"><!--control-subgroup-->
                  <span :class="(action == 'loop' ? 'active ' : '') + 'glyphicon glyphicon-play'" v-on:click="loop()" title="Train until paused"></span>
                  <span :class="(action == 'halt' ? 'active ' : '') + 'glyphicon glyphicon-pause'" v-on:click="halt()" title="Stop training"></span>
                  <span class="glyphicon glyphicon-step-forward" v-on:click="singleStep()" title="Train a single sample"></span>
              </div><!-- /control-subgroup -->

              <button  v-on:click="startTest()" :class="'btn btn-default control ' + ((mode == 'test') ? '' : 'hidden')" title="Test all Classifiers">Start testing</button>

              <button  v-on:click="predictSingle()" :class="'btn btn-default control ' + ((mode == 'single') ? '' : 'hidden')" title="Predict single samples">Predict</button>

          </div>
          <div class="col-xs-8">
            <div class="col-xs-6">
              <div class="input-group">
                <span class="input-group-addon">
                  <input id="mode_1" v-on:change="switchMode()" value="stream" v-model="mode" name="mode" type="radio">
                </span>
                <label for="mode_1" class="form-control">Stream Based AL</label>
              </div><!-- /input-group -->
              <div class="input-group">
                <span class="input-group-addon">
                  <input id="mode_2" v-on:change="switchMode()" value="pool" v-model="mode" name="mode" type="radio">
                </span>
                <label for="mode_2" class="form-control">Pool Based AL</label>
              </div><!-- /input-group -->
              <div class="input-group">
                <span class="input-group-addon">
                  <input id="mode_3" v-on:change="switchMode()" value="test" v-model="mode" name="mode" type="radio">
                </span>
                <label for="mode_3" class="form-control">Test all Classifiers</label>
              </div><!-- /input-group -->
              <div class="input-group">
                <span class="input-group-addon">
                  <input id="mode_4" v-on:change="switchMode()" value="single" v-model="mode" name="mode" type="radio">
                </span>
                <label for="stream_ai_4" class="form-control">Predict single samples</label>
              </div>   <!-- /input-group -->  
            </div>
            <div :class="'col-xs-6 ' + ((mode != 'stream' && mode != 'pool') ? 'hidden' : '') "><!-- non test only -->

              <div  :class="'input-group ' + (mode != 'stream' ? 'hidden' : '') ">
                <span class="input-group-addon">
                  <input disabled="disabled" id="semi_supervised" v-model="isSemiSupervised" name="semi_supervised" type="checkbox">
                </span>
                <label for="semi_supervised" class="form-control">Semi-Supervised</label>
              </div>   <!-- /input-group -->  

              <div class="input-group">
                <span class="input-group-addon">
                  <input id="instant_train" v-model="trainInstantly" name="instant_train" type="checkbox">
                </span>
                <label for="instant_train" class="form-control">Train instantly</label>
              </div>   <!-- /input-group -->  

              <div class="input-group">
                <label id="formula" class="form-control">{{formula}}</label>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Uncertainty formula <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li v-for="f in formulas"><a v-on:click="setFormula(f)" href="#">{{f}}</a></li>
                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </div><!-- /non test only -->

            <div :class="'col-xs-6 ' + ((mode != 'test') ? 'hidden' : '') "><!-- test only options -->
              <input v-on:click="retrainAll()" value="Retrain and save all" class="btn btn-primary " style="width: 100%;" type="button">
            </div><!-- test only options -->
          </div><!-- /controls -->
        </div><!-- /container -->
      </div><!-- /header -->
      <div class="container">

        <div id="titles" class="row"><!-- titles -->
          <div class="col-xs-2"><h3>Input</h3></div>
          <div class="col-xs-7">
            <div class="col-xs-4"><h3>Classifiers</h3></div>
            <div class="col-xs-7 col-xs-offset-1"><h3>{{(mode != 'test' ? 'Classification results' : 'Accuracy per class')}}</h3></div>
          </div>
          <div class="col-xs-3"><h3>Output</h3></div>
        </div><!-- /titles -->

        <div class="row main"><!-- main -->
          <div id="input" class="col-xs-2"><!-- input -->
            <div class="input_pool" :style="{top: 'calc( 40px + (-1 + '+getClassifierAmount()+') * 75px)'}">
              <span>{{poolSize}}</span>
              <div title="Sample pool size">
                <span title="Repository name">{{repoName}}</span>
              </div>
            </div>
          </div><!-- /input -->

          <div class="col-xs-7">
            <div id="classifiers">
              <div v-for="(c, index) in classifiers" :class="'classifier_row' + (c.active ? '' : ' inactive') ">
                <div :class="'classifier ' + (isAsking(index) ? 'asking' : '')">
                  <span class="name">{{index}}</span>
                  <div class="wrapper">
                    <span title="Current yield" class="stats">{{parseInt(c.yield * 100)}}%<!-- <span title="Accuracy of previous version" class="old">/ 79%</span>--></span>
                    <span title="Show classifier details" v-on:click="showInfo(index)" class="glyphicon glyphicon-info-sign"></span>
                    <span title="Enable classifier" v-on:click="switchState(index)" class="glyphicon glyphicon-ban-circle"></span>
                    <span title="Disable classifier" v-on:click="switchState(index)" class="glyphicon glyphicon-ok-circle"></span>
                  </div>
                </div>
                <div class="arrow">=&gt;</div>
                <div :class="'result_vector ' + (getMode() != 'test' ? 'hidden' : '')">
                    <div v-for="(r, i) in c.accuracy" :class="'v ' + (getMax(index)  == r.val ? 'max' : '')">
                      <span>{{r.class}}</span><span>{{Math.round(r.val * 100) / 100}}</span>
                    </div>
                </div>
                <div :class="'result_vector ' + (getMode() == 'test' ? 'hidden' : '')">
                    <div v-for="(r, i) in c.probability" :class="'v ' + (getMax(index)  == r.val ? 'max' : '')">
                      <span>{{r.class}}</span><span>{{Math.round(r.val * 100) / 100}}</span>
                    </div>
                </div>
                <div  title="uncertainty" :class="'uncertainty ' + (c.uncertainty > 0 ? '' : 'hidden ') + (typeof(c.unsure) != 'undefined' ? (c.unsure ? 'uncertain ' : 'certain ') : ' ')">
                  {{parseInt(c.uncertainty * 100) / 100}}
                </div>
              </div>
            </div><!-- /classifiers -->
          </div>

          <div class="col-xs-3" id="output"><!-- output -->
            <h2 v-on:click="manualClassification()"
                :class="(getMode() != 'test' && classifiersUnsure ? '' : 'hidden ') + (manualClass == '?' ? 'uncertain' : '')" 
                :style="{top: 'calc( 35px + (-1 + '+getClassifierAmount()+') * 75px)'}"
                title="(manualClass == '?' ? 'Click to manually classify this sample' : 'Classification result')">{{( manualClass)}}</h2>
            <!--<div :class="(getMode() == 'test' ? '' : 'hidden ')" 
                 :style="{top: 'calc( 0px + (-1 + '+getClassifierAmount()+') * 75px)'}"
                 id="testOuputChart"></div>-->
            <div :class="(getMode() == 'test' ? '' : 'hidden ')" 
                 :style="{top: 'calc( -60px + (-1 + '+getClassifierAmount()+') * 75px)'}"
                 id="testOuputChart"></div>
          </div><!-- /output -->

        </div><!-- /main -->
      </div><!-- /container -->
    </div><!-- /container-fluid -->
    <script type="text/javascript" src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="scripts/radarChart.js"></script>
    <script type="text/javascript" src="scripts/frontend.js"></script>
  </body>
</html>