<!DOCTYPE html>
<html>
  <head>
    <!--
    Copyright 2016
    Code by Michael Leimstädtner
    -->
    <meta charset="utf-8"/>
    <title>Classification Visualisation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="icon" href="favicon.png" type="image/png"/>
    <meta Name="description" content=""/>
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="workflow">
        <h1>Classification Insights</h1>
        <div id="module_wrapper">
          <div id="modules">
            <div v-for="(m, index) in modules" v-on:click="setFocus(index)" v-bind:data-id="index" v-bind:class="'module' + ' ' + m.classes + ' ' + m.isActive">
              <h2 class="module_header">{{m.title}}</h2>
              <div v-html="m.handleData()"></div>
            </div>
          </div>
        </div>
            
          </div>
        </div>
        <script type="text/javascript" src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="//d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="scripts/visualisation.js"></script>
      </body>
    </html>