/*###############################################
  # The style sheet for the main user interface #
  ###############################################*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body{
  margin: 0;
  padding: 0;
  font-size: 8px;
  height: 100%;
  width: 100%;
  position: absolute;
  background: white;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  color: #34495e;
}
.container-fluid{
  padding: 0;
}
#page{
  
}
h1{
  line-height: 40px;
  margin: 0;
  font-size: 33px;
}
h1 span{
  display: inline;
  font-size: 16.5px;
  margin-left: 10px;
  cursor: pointer;
}
#header .note{
 font-style: italic; 
}
#header{
  position: relative;
  width: 100%;
  top: 0;
  background-color: rgba(233, 233, 233, 0.4);
  /*box-shadow: 0 0 1px rgba(0,0,0,0.25);*/
  border-bottom: 1px dashed #00000080;
  transition: background-color 0.3s ease-in-out;
  padding: 10px 60px;
  z-index: 2;
}
footer{
  padding: 25px 0;
  border-top: 1px dashed black;
  margin-top: 25px;
  background: #F6F6F6;
}
footer .member{
  cursor: pointer;
}
.input-group{
  margin-bottom: 5px;
}
.control_buttons{
  display: block;
  padding: 10px;
  margin: 0px auto;
  width: 75px;
  cursor: pointer;
  text-align: center;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 37.5px);
}
#header #right input[type="button"]{
  width: 100%;
  margin-bottom: 6px;
}
.active, .control_buttons span:hover{
  color: #719eec;
}
button.control {
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
  width: 100px;
}
.main{
  min-height: 500px;
}
.live-example {
  height: 200px !important;
  overflow: hidden;
}
.link-preview {
  width: 1028px;
  height: 800px;
  border: none;
  pointer-events: none;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
/*
.input_pool{
  border-radius: 50%;
  background: #719EED;
  height: 165px;
  top: 150px;
  position: relative;
}
.input_pool > span{
  position: absolute;
  text-align: center;
  width: 165px;
  top: 30px;
  color: white;
}
.input_pool > div{
  text-align: center;
  line-height: 165px;
  position: relative;
}
.input_pool > div span{
  background: white;
  border-radius: 2.5px;
  padding: 5px 10px;
  border: 1px solid;
  font-weight: bold;
  cursor: default;
}
.input_pool:before, .classifier:before{
  content: "►";
  position: absolute;
  top: 64px;
  left: -25px;
  font-size: 25px;
}
*/

#readme img, #md img{
  max-width: 100%;
  height: auto;
}
#classifiers{
  padding: 00px 20px 20px 20px;
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  margin: 0 0 20px 0;
  border-radius: 5px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}
/*#classifiers::after {
  content: "►";
  position: absolute;
  top: calc(50% - 12.5px);
  right: -6px;
  font-size: 25px;
}*/
.classifier_row{
  margin-bottom: 40px;
  position: relative;
  padding-top: 10px;
}
.classifier_row:last-child {
  margin-bottom: 0;
}
.classifier_row.inactive{
  opacity: .5;
}
.glyphicon-ok-circle{
  display: inline-block;
}
.glyphicon-ban-circle{
  display: none;
}
.inactive .arrow, .inactive .result_vector, .inactive .uncertainty{
  visibility: hidden;
}
.inactive .glyphicon-ok-circle,  .inactive .classifier:before{
  display: none;
}
.inactive .glyphicon-ban-circle{
  display: inline-block;
}
.wrapper .glyphicon:hover {
  color: #719EED;
}
.asking .wrapper .glyphicon:hover {
  color: white;
}
.classifier{
  display: inline-block;
  width: 200px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2.5px;
  top: 11px;
  position: relative;
}
.classifier:before{
  top: 35px;
}
.classifier.asking{
  background: #719EED;
  color: black;
}
.classifier .name{
  display: block;
  border-bottom: 1px solid black;
  background: #008000cc;
  color: white;
  padding: 5px 0;
  font-family: "RaleWay";
  font-weight: bold;
  min-height: 54px;
}
.inactive .name{
  background: black;
}
.wrapper{
  font-weight: bold;
  padding: 10px 0;
  word-spacing: 10px;
}
.stats{
  font-weight: bold;
  cursor: default;
}
.wrapper .glyphicon{
  cursor: pointer;
}
.hidden{
  display: none;
}
.arrow{
  display: inline-block;
  visibility: visible;
  line-height: 75px;
  font-size: 50px;
  position: relative;
  margin-left: 10px;
  top: -3px;
}
.result_vector{
  display: inline-block;
  visibility: visible;
  width: 340px;
  line-height: 80px;
  position: relative;
}
.result_vector::before, .result_vector::after {
  content: "[";
  position: absolute;
  left: 0;
  font-size: 80px;
  top: 13px;
  margin-left: -5px;
  color: #0000004d;
  font-weight: 100;
}
.result_vector.uncertain::before, .result_vector.uncertain::after{
  color: #ff000080;
}
.result_vector.certain::before, .result_vector.certain::after{
  color: #01962880;
}

.result_vector::after{
  content: "]";
  right: 0;
  left: initial;
  margin: 0 -10px 0 0;
}
.v {
  width: 47.6px;
  float: left;
  height: 80px;
}
.v span:first-child {
  font-weight: bold;
  font-size: 14px;
}
.v span {
  display: block;
  height: 40px;
  text-align: center;
}
.v.max{
  color: #719EED;
  font-size: 1.05em;
  font-weight: bold;
}
.uncertainty{
  visibility: visible;
  display: inline-block;
  width: 37px;
  text-align: center;
  line-height: 50px;
  top: 11px;
  position: absolute;
  font-style: italic;
  font-weight: bold;
  left: 217px;
  cursor: default;
}
.uncertainty.uncertain{
  color:red;
}
.uncertainty.certain{
  color:green;
}
.overlay_blur{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffffe6;
  top: 0;
  left: 0;
  z-index: 3;
}
.overlay_wrapper{
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}
.overlay_wrapper .container{
  width: 800px;
  border: 1px solid;
  border-radius: 2.5px;
  position: relative;
  margin: 100px auto;
  z-index: 5;
  background: white;
  padding: 20px;
}
.overlay_wrapper .container .attribute div:first-child{
  font-weight: bold;
  text-align: right;
}
.overlay_wrapper .container .attribute div:last-child{
  font-style: italic;
}
.overlay_wrapper .container .attribute:first-child div:last-child{
  color: black;
  font-size: 20px;
  text-align: left;
  font-style: unset;
  display: inline;
  border-bottom: 1px dotted #21212133;
  margin: -2px 0 5px 0;
  letter-spacing: 1px;
  width: unset;
}
#predictionList_wrapper textarea{
  width: 100%;
  height: 400px;
  resize: vertical;
}
.action{
  width: 300px;
  display: block;
  text-align: center;
  margin: 0px auto 10px;
}
.version_wrapper{
  width: 300px;
  margin: 0px auto;
}
.version_wrapper .select{
  width: 140px;
  display: inline-block;
}
.version_wrapper .select button{
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
}
.version_wrapper .action{
  display: inline-block;
  width: 156px;
  margin: 0;
}
#titles{
  text-align: center;
}
#titles blockquote{
  margin: 20px;
  text-align: justify;
}
.graph{
  text-align: center;
}
/* D3 */
.legend {
  font-size: 13.5px;
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}
.tooltip {
  fill: #333333;
}
.bar {
  fill: steelblue;
}
.axis path {
  display: none;
}

/* end D3 */
#confusion_matrix .cell_own{
  background: #329A65!important;
  color: black!important;
}
#confusion_matrix .cell_classifier{
  background: #f0ff00;
  color: black;
}
#confusion_matrix .cell_reference{
  background: orange;
  color: black;
}
#confusion_matrix .total td, #confusion_matrix .bold, #confusion_matrix td:nth-last-child(1), #confusion_matrix td:nth-last-child(2) {
  background: #439fc3;
  color: white;
  font-weight: bold;
}
#confusion_matrix tr td:first-child {
  font-weight: bold;
  letter-spacing: 1px;
  text-align: right;
  font-size: 1em;
}
#confusion_matrix tr th:first-child {
  text-align: right;
}
#confusion_matrix .result_abs, #confusion_matrix .result{
  color: black !important;
}
.measure_table tr td:first-child,.measure_table tr th:first-child{
  text-align: right;
}
.measure_table tr td:last-child{
  text-align: left;
}


#output h2{
  background: green;
  color: white;
  text-align: center;
  padding: 20px;
  border: white double;
  box-shadow: 0px 0px 1px green;
  height: 80px;
  position: relative;
}
#output h2.uncertain{
  background: #ff7738;
  box-shadow: 0px 0px 1px #ff7738;
  cursor: pointer;
}
#output #testOuputChart{
  position: relative;
  top: 0px;
}
#output #testOuputChart > svg{
  overflow: visible;
}
#output .outputText{
  font-size: 17px;
  text-align: justify;
  padding: 0 10px;
}

#version_precision_chart{
  padding: 60px 0;
}
#version_precision_chart > svg{
  overflow: visible;
}

#predictionList_wrapper .container{
  width: 1000px;
}

#expression{
  width: 256px;
  height: 256px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px;
}
#expression span{
  width: 255px;
  text-align: center;
  background: white;
  display: block;
  top: 225px;
  position: relative;
  font-family: "Raleway";
  padding: 2px 0px;
}
#expression.neutral{
  background: url("../images/facial_expressions/KA.NE1.26.jpg");
}
#expression.thinking0{
  background: url("../images/facial_expressions/KA.AN1.39.jpg");
}
#expression.thinking1{
  background: url("../images/facial_expressions/KA.AN2.40.jpg");
}
#expression.thinking2{
  background: url("../images/facial_expressions/KA.AN3.41.jpg");
}
#expression.found{
  background: url("../images/facial_expressions/KA.SU3.38.jpg");
}
#expression.other, #expression.error{
  background: url("../images/facial_expressions/KA.DI3.44.jpg");
}
.repoDetails h4{
  text-align: center;
}
.repoDetails p{
  font-style: italic;
  padding: 0px 0;
  word-wrap: break-word;
}
.outputDistr .bar{
  display: block;
  background: red;
  color: white;
  text-align: center;
  box-shadow: 0 0 1px red;
  font-weight: bold;
  min-width: 15%;
}
.subtitle{
  min-height: 75px;
  text-align: center;
  border-top: 1px dashed #00000080;
  vertical-align: middle;
  padding-top: 15px;
}
.subtitle a{
  word-wrap: break-word;
}
.portrait{
  height: 200px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 30px;
  border: 1px solid black;
  opacity: .3;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.portrait:hover, .portrait.selected{
  opacity: 1;
}
.defaultCursor{
  cursor: default;
}
.dropdown-menu > li > span{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
}
#calls_warning{
  text-align: center;
  margin: 20px 0 0 0;
}