@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
html, body{
  margin: 0;
  padding: 0;
  font-size: 8px;
  height: 100%;
  width: 100%;
  position: absolute;
  background: white;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  color: #34495e;
}
h1{
  line-height: 152px;
  margin: 0;  
}
#header{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  transition: background-color 0.3s ease-in-out;
  height: $heading-inner-height;
  padding: 10px 60px;
  z-index: 2;
}
.input-group{
  margin-bottom: 5px;
}
.control_buttons{
  display: block;
  padding: 10px;
  margin: 0px auto;
  width: 75px;
  cursor: pointer;
  text-align: center;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.active{
  color: #719eec;
}