@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
html, body{
  margin: 0;
  padding: 0;
  font-size: 8px;
  height: 100%;
  width: 100%;
  position: absolute;
  background: white;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  color: #34495e;
}
.container-fluid{
  padding: 0;
}
h1{
  line-height: 152px;
  margin: 0;
  font-size: 35px;
}
#header{
  position: relative;
  width: 100%;
  top: 0;
  background-color: rgba(233, 233, 233, 0.4);
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  transition: background-color 0.3s ease-in-out;
  padding: 10px 60px;
  z-index: 2;
}
.input-group{
  margin-bottom: 5px;
}
.control_buttons{
  display: block;
  padding: 10px;
  margin: 0px auto;
  width: 75px;
  cursor: pointer;
  text-align: center;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 37.5px);
}
.active, .control_buttons span:hover{
  color: #719eec;
}
button.control {
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    width: 100px;
}
.main{
  min-height: 600px;
}
.input_pool{
  border-radius: 50%;
  background: #719EED;
  height: 165px;
  top: 150px;
  position: relative;
}
.input_pool > span{
  position: absolute;
  text-align: center;
  width: 165px;
  top: 30px;
  color: white;
}
.input_pool > div{
  text-align: center;
  line-height: 165px;
  position: relative;
}
.input_pool > div span{
  background: white;
  border-radius: 2.5px;
  padding: 5px 10px;
  border: 1px solid;
  font-weight: bold;
  cursor: default;
}
.input_pool:before, .classificator:before{
  content: "►";
  position: absolute;
  top: 64px;
  left: -25px;
  font-size: 25px;
}

#classificators{
  padding: 50px 20px 20px 20px;
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  margin-top: 20px;
  border-radius: 5px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}
#classificators::after {
    content: "►";
    position: absolute;
    top: calc(50% - 12.5px);
    right: -6px;
    font-size: 25px;
}
.classificator_row{
  margin-bottom: 50px;
  position: relative;
}
.classificator_row.inactive{
  opacity: .5;
}
.glyphicon-ok-circle{
  display: inline-block;
}
.glyphicon-ban-circle{
  display: none;
}
.inactive .arrow, .inactive .result_vector{
  visibility: hidden;
}
.inactive .glyphicon-ok-circle,  .inactive .classificator:before{
  display: none;
}
.inactive .glyphicon-ban-circle{
  display: inline-block;
}
.wrapper .glyphicon:hover {
    color: #719EED;
}
.classificator{
  display: inline-block;
  width: 200px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2.5px;
}
.classificator:before{
  top: 35px;
}
.classificator.asking{
  background: #719EED;
  color: black;
}
.classificator .name{
  display: block;
  border-bottom: 1px solid black;
  background: #008000cc;
  color: white;
  padding: 5px 0;
  letter-spacing: 2px;
}
.inactive .name{
  background: black;
}
.wrapper{
  font-weight: bold;
  padding: 10px 0;
  word-spacing: 10px;
}
.stats{
  font-weight: bold;
}
.wrapper .glyphicon{
  cursor: pointer;
}
.hidden{
  display: none;
}
.arrow{
  display: inline-block;
  visibility: visible;
  line-height: 75px;
  font-size: 50px;
  position: relative;
  margin-left: 10px;
  top: -3px;
}
.result_vector{
  display: inline-block;
  visibility: visible;
  width: 398px;
  line-height: 80px;
  position: relative;
}
.result_vector::before, .result_vector::after {
  content: "[";
  position: absolute;
  left: 0;
  font-size: 80px;
  top: 13px;
  margin-left: -5px;
  color: #0000004d;
  font-weight: 100;
}
.result_vector::after{
  content: "]";
  right: 0;
  left: initial;
  margin: 0 -10px 0 0;
}
.v {
  width: 56.6px;
  float: left;
  height: 80px;
}
.v span:first-child {
  font-weight: bold;
}
.v span {
  display: block;
  height: 40px;
  text-align: center;
}
.v.max{
  color: #719EED;
  font-size: 1.05em;
  font-weight: bold;
}
.uncertainty{
  display: inline-block;
  width: 37px;
  text-align: right;
  line-height: 50px;
  top: -15px;
  position: relative;
  font-style: italic;
  font-weight: bold;
}
.uncertainty.red{
  color:red;
}
.overlay_blur{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffffe6;
  top: 0;
  left: 0;
  z-index: 3;
}
#overlay_wrapper{
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}
.classifier_details{
  width: 800px;
  border: 1px solid;
  border-radius: 2.5px;
  position: relative;
  margin: 100px auto;
  z-index: 5;
  background: white;
  padding: 20px;
}
.classifier_details .attribute div:first-child{
  font-weight: bold;
  text-align: right;
}
.classifier_details .attribute div:last-child{
  font-style: italic;
}
.action{
  width: 300px;
  display: block;
  text-align: center;
  margin: 0px auto 10px;
}
.version_wrapper{
  width: 300px;
  margin: 0px auto;
}
.version_wrapper .select{
  width: 140px;
  display: inline-block;
}
.version_wrapper .select button{
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
}
.version_wrapper .action{
  display: inline-block;
  width: 156px;
  margin: 0;
}
#titles{
  text-align: center;
}
.graph{
    text-align: center;
}