  html, body{
  margin: 0;
  padding: 0;
  font-size: 8px;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #FEDB3E;
  cursor: default;
  }
  #workflow{
  margin-top: 50px;
  }
  h1{
  text-align: center;
  margin-bottom: 50px;
  }
  #module_wrapper{
    overflow-x: hidden;
    width: 100%;
  }
  #modules{
    width: 2700px;
    position: relative;
    margin-left: calc( (100% - 900px) / 2 - 1 * 900px);
    -moz-transition: margin 0.5s ease-out;  /* FF4+ */
    -o-transition: margin 0.5s ease-out;  /* Opera 10.5+ */
    -webkit-transition: margin 0.5s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: margin 0.5s ease-out;  /* IE10 */
    transition: margin 0.5s ease-out;  
  }
  .module{
  float: left;
  width: 800px;
  height: 600px;
  border: 5px black solid;
  padding: 20px;
  border-radius: 5px;
  background: #F8FEDC;
  margin-right: 100px;
  opacity: .25;
    -moz-transition: opacity 0.5s ease-out;  /* FF4+ */
    -o-transition: opacity 0.5s ease-out;  /* Opera 10.5+ */
    -webkit-transition: opacity 0.5s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: opacity 0.5s ease-out;  /* IE10 */
    transition: opacity 0.5s ease-out;  
    cursor: pointer;
  }
  .module.active{
    opacity: 1;
  }
  .module .module_header{
  border-bottom: 3px solid #808080cc;
  padding-bottom: 5px;
  margin-top: 0;
  }
  .module .left, .module .right{
    width: 40%;
    float: left;
    text-align: center;
    min-height: 500px;
    border-radius: 5px;
  }
  .module .left{
    margin-left: 5%;
  }
  .module .right{
    margin-left: 10%;
  }
  .chosen, .right:hover, .left:hover, .left.chosen, .right.chosen{
    border: 2.5px solid gray;
    background: #00B1AC;
    color: #F8FEDC;
  }
  .notchosen{
    border: 2.5px solid transparent;
    background: #4b4b4b;
    color: white;
  }
  .input::after {
    /*
    content: "}";
    color: black;
    font-size: 100px;
    transform: scaleY( 4 ) scaleX(2);
    display: inline-block;
    margin-left: calc(100% + 50px);
    margin-top: 100px;
    font-family: Colibri;
    cursor: default;*/
    content: "}";
    color: black;
    font-size: 100px;
    transform: scaleY( 4 ) scaleX(2);
    display: inline-block;
    margin-left: calc(700px + 25px);
    top: 100px;
    font-family: Colibri;
    cursor: default;
    position: absolute;
    left: 100px;
    top: 200px;
  }
  .al_list{

  }
  .al_list li{
    list-style: decimal;
    font-size: 20px;
    margin: 15px 0;
    padding: 5px;
    color: black;
  }
  .al_list li span:first-child{
    color: white;
  }
  .al_list li span:last-child{
    float: right;
    color: #FEDB3E;
  }
  .max100{
    height: 500px;
    overflow-y: scroll;
    position: relative;
    padding-right: 10px;
  }
  .highlighted{
    color: #FEDB3E;
  }
  .center{
    text-align: center;
  }
  .general_desc{
    font-size: 20px;
    font-style: italic;
    color: gray;
    margin: 50px 0;
  }
  .gitprev{
    text-align: left;
    border: 1px solid black;
    background: white;
    border-radius: 2.5px;
    font-size: 1.1em;
  }
  .gitprev span{
    display: block;
    background: #efecec;
    padding: 5px;
  }
  .gitcontent{
    margin: 10px;
  }

  .vector{
    font-size: 14px;
    width: 500px;
    margin: 0px auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 360px;
  }
  .vector .content{
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.3em;
    overflow: hidden;
  }

  /* Chart css */

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #4b4b4b;
}
.bar.chosen{
  fill: #00B1AC;
}
.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}
